In [1]:
import sqlite3
import time

def select_all_tasks(conn):
    try:
        with conn:
            cur = conn.cursor()
            query1 = """
            SELECT *
            FROM FACILITIES
            """
            cur.execute(query1)
            rows = cur.fetchall()
            for row in rows:
                print(row)
    except sqlite3.OperationalError as e:
        print(f"OperationalError: {e}")

def main():
    database = "sqlite_db_pythonsqlite.db"
    
    try:
        conn = sqlite3.connect(database, timeout=10)  # Aumenta el timeout si es necesario
        select_all_tasks(conn)
    except sqlite3.Error as e:
        print(f"Error: {e}")
    finally:
        if conn:
            conn.close()

if __name__ == '__main__':
    main()

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)


/* PART 2: SQLite
/* We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)



Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.
 
QUESTIONS:

In [6]:
import pandas as pd

In [9]:
database = 'sqlite_db_pythonsqlite.db'
conn = sqlite3.connect(database)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [30]:
# Definir la consulta SQL
consulta_sql = """
SELECT 
    Facilities.name, 
    SUM(
        CASE
            WHEN Members.memid = 0 THEN Facilities.guestcost * Bookings.slots
            ELSE Facilities.membercost * Bookings.slots
        END
    ) AS ingresos
FROM 
    Bookings
INNER JOIN 
    Facilities ON Bookings.facid = Facilities.facid
INNER JOIN 
    Members ON Bookings.memid = Members.memid
GROUP BY 
    Facilities.facid
HAVING 
    ingresos < 1000
ORDER BY 
    ingresos;
"""

# Ejecutar la consulta y obtener los resultados
results = pd.read_sql_query(consulta_sql, conn)

# Show the results
print(results)

            name  ingresos
0   Table Tennis       180
1  Snooker Table       240
2     Pool Table       270

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [38]:
sql = '''
SELECT m1.surname as membersurname, m1.firstname as memberfirstname, m2.surname as recommended, m2.firstname as by
FROM Members as m1
  INNER JOIN Members as m2
  ON m1.recommendedby=m2.memid
ORDER BY membersurname, memberfirstname
'''
print(pd.read_sql_query(sql, conn))
print

        membersurname memberfirstname recommended         by
0               Bader        Florence    Stibbons     Ponder
1               Baker            Anne    Stibbons     Ponder
2               Baker         Timothy     Farrell     Jemima
3              Boothe             Tim      Rownam        Tim
4             Butters          Gerald       Smith     Darren
5              Coplin            Joan       Baker    Timothy
6             Crumpet           Erica       Smith      Tracy
7                Dare           Nancy    Joplette     Janice
8             Genting         Matthew     Butters     Gerald
9                Hunt            John     Purview  Millicent
10              Jones           David    Joplette     Janice
11              Jones         Douglas       Jones      David
12           Joplette          Janice       Smith     Darren
13          Mackenzie            Anna       Smith     Darren
14               Owen         Charles       Smith     Darren
15             Pinker           David     Farrell     Jemima
16            Purview       Millicent       Smith      Tracy
17             Rumney       Henrietta     Genting    Matthew
18             Sarwin       Ramnaresh       Bader   Florence
19              Smith            Jack       Smith     Darren
20           Stibbons          Ponder       Tracy     Burton
21  Worthington-Smyth           Henry       Smith      Tracy

/* Q12: Find the facilities with their usage by member, but not guests */

In [42]:
sql =  '''
SELECT f.name, m.firstname, m.surname, sum(b.slots) as sum
FROM Facilities as f, Bookings as b, Members as m
WHERE
  (b.memid = m.memid AND b.facid = f.facid) 
  AND (b.memid <>0)
GROUP BY m.firstname, m.surname
ORDER BY m.firstname, m.surname
'''
print(pd.read_sql_query(sql, conn))

               name  firstname            surname  sum
0   Badminton Court       Anna          Mackenzie  231
1    Tennis Court 1       Anne              Baker  296
2    Tennis Court 2     Burton              Tracy  366
3    Tennis Court 1    Charles               Owen  345
4      Table Tennis     Darren              Smith  685
5    Tennis Court 1      David            Farrell   50
6    Tennis Court 2      David              Jones  305
7     Snooker Table      David             Pinker  159
8   Badminton Court    Douglas              Jones   37
9   Badminton Court      Erica            Crumpet   17
10  Badminton Court   Florence              Bader  237
11   Tennis Court 1     Gerald            Butters  409
12    Snooker Table  Henrietta             Rumney   38
13  Badminton Court      Henry  Worthington-Smyth   60
14    Snooker Table   Hyacinth         Tupperware   28
15   Massage Room 1       Jack              Smith  219
16   Massage Room 1     Janice           Joplette  326
17     Table Tennis     Jemima            Farrell  180
18    Snooker Table       Joan             Coplin  106
19   Tennis Court 1       John               Hunt   40
20   Massage Room 2    Matthew            Genting  131
21  Badminton Court  Millicent            Purview   32
22  Badminton Court      Nancy               Dare  267
23   Tennis Court 2     Ponder           Stibbons  249
24   Tennis Court 2  Ramnaresh             Sarwin  153
25   Tennis Court 2        Tim             Boothe  440
26   Massage Room 1        Tim             Rownam  660
27   Tennis Court 2    Timothy              Baker  290
28   Tennis Court 1      Tracy              Smith  435


/* Q13: Find the facilities usage by month, but not guests */

In [48]:
sql =  '''
SELECT SUBSTR(b.starttime, 1, 7) AS month, f.name, sum(b.slots) as usage
FROM Facilities as f
LEFT JOIN Bookings as b
ON b.facid = f.facid
GROUP BY month, f.name
'''
print(pd.read_sql_query(sql, conn))

      month             name  usage
0   2012-07  Badminton Court    180
1   2012-07   Massage Room 1    264
2   2012-07   Massage Room 2     24
3   2012-07       Pool Table    117
4   2012-07    Snooker Table    156
5   2012-07     Squash Court    164
6   2012-07     Table Tennis    104
7   2012-07   Tennis Court 1    270
8   2012-07   Tennis Court 2    207
9   2012-08  Badminton Court    459
10  2012-08   Massage Room 1    492
11  2012-08   Massage Room 2     82
12  2012-08       Pool Table    322
13  2012-08    Snooker Table    326
14  2012-08     Squash Court    400
15  2012-08     Table Tennis    304
16  2012-08   Tennis Court 1    459
17  2012-08   Tennis Court 2    483
18  2012-09  Badminton Court    570
19  2012-09   Massage Room 1    648
20  2012-09   Massage Room 2    122
21  2012-09       Pool Table    471
22  2012-09    Snooker Table    426
23  2012-09     Squash Court    540
24  2012-09     Table Tennis    422
25  2012-09   Tennis Court 1    591
26  2012-09   Tennis Court 2    588